{% extends "base.html" %}

{% block content %}
<main class="container">
{% if cats == '1' %}
<h1>Science.</h1>

{% elif  cats == '6' %}
<h1>User Success Story.</h1>

{% else %}

<h1>Categories.{{ cats }}</h1>

{% endif %}

{% for category in category_posts %}

<div class="col-md-12">
    
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">{{ post.category }} | {{ post.created_on }} |</strong>
          <h3 class="mb-0">{{ post.title }}</h3>
          <div class="mb-1 text-muted">
            <p>
              {{ post.excerpt | safe }}
            </p>
            <a href="{% url 'post_detail' post.slug  %}" class="stretched-link">Continue reading</a>
          </div>

        <div class="row-1">

          <!-- The number of likes goes before the closing strong tag -->
          <strong class="text-secondary"><i class="far fa-heart"></i> {{ post.number_of_likes }} </strong>
          {% with comments.count as total_comments %}
          <strong class="text-secondary"><i class="far fa-comments"></i>
              <!-- Our total_comments variable goes before the closing strong tag -->
              {{ total_comments }}</strong>
          {% endwith %}
        </div>
      
        
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

      </div>
    </div>
  </div>
</div>

{% endfor %}







{%endblock%}