{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Delete your Post{% endblock %}

{% block content %}

<main class="container">
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Delete Your Post.</h1>
      <p class="lead my-3">Your Post will be removed from the site once deleted. Dont Worry, you can write another.</p>
    </div>
</div>
<!--Only Auth users can delete the post-->
{% if user == post.author %}

<br/><br/>
<!--Display Post title-->
<h3>Delete: {{ post.title }}</h3>
<br>
<div>

    <form method="POST" novalidate>
        {% csrf_token %}
        <strong>Warning. You will not be able to retrieve this post after Deletion.</strong>
        <br/><br/>
        <button type="submit" class="btn btn-success">Delete this Post.</button>
      </form>

</div>
 
{% else %}

<!--Stops unauth user accessing via URL-->

<h3>Please <a class="link-secondary" href="{% url 'account_login' %}">Log In</output></a> to Delete your post. </h3> 

{% endif %}

{% endblock %}
