{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Edit your Post{% endblock %}

{% block content %}

<main class="container">
  <div class="row p-4 p-md-5 mb-4 text-white rounded backround-color  bg-dark">

    <div class="col-md-8 px-0">
      <h1 class="display-4 fst-italic">Edit Your Post</h1>
    </div>
    
  </div>

<!--Prevent anyone unauthorized from editing the Post-->
 {% if user == post.author %}

<h1>Edit: {{ post.title }}</h1>
<div>
<!--Displays the Post model data to be edited-->
    <form method="POST" novalidate>
        {% csrf_token %}
        
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Update</button>
      </form>

</div>

{% else %}

<h3>Please <a class="link-secondary" href="{% url 'account_login' %}">Log In</output></a> to edit your post. </h3> 

{% endif %}

{% endblock %}
