{% extends "base.html" %}

{% block content %}

<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    
    <a class="p-2 link-secondary" href="#">Option 3</a>
  </nav>
  
</div>


<main class="container border">
  <div class=" row p-4 p-md-5 mb-4 text-white rounded backround-color  bg-dark">

    <div class="col-md-8 px-0">
      <h1 class="display-4 fst-italic">Join our community and quit Caffeine today.</h1>
      <p class="lead my-3">Do you want a better nights sleep? Do you often feel anxious? Do you need that cup of Coffee first thing in the morning to function?</p>
      <p class="lead my-3">Whether you want to cut back on the daily coffees or quit Caffeine altogether. The Caffeine Free Community can offer you support and inspiration as you try to elimate Caffeine from your life.</p>
    </div>
    
    <div class="col-md-2 p-md-5 px-0 ">
      <img class="background-image" src="https://res.cloudinary.com/bobdean/image/upload/v1649543147/coffee5_mi88om.png" alt="Coffee Bean">
    </div>
    
  </div>

  <div class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative text-black rounded">

    <div class="col-md-8 p-4 p-md-4 mb-4">
      <h2>Browse the different topics and Discussions.</h2>
        <p class="lead my-3">All of our posts come from our community. <br> If you are in the need for some Caffeine Free Recipes, browsing for a related News Article, or looking for Inspiration to Quit.</p>
        <p class="lead my-3">Become a member today and join our community.  <a href="{% url 'account_signup' %}">Sign Up.</a></p>
    </div>

    <div class="col-md-2 cat-font p-2 p-md-2 mb-2 mt-2">

      <ul>
      
        {% for post in post_list %}
        {% ifchanged post.category %}
        <li><a color="white" href="{% url 'category' post.category.id  %}">{{ post.category }}</a></li>
      
        {% endifchanged %}
      

        {%endfor%}
      
      </ul>
    </div>


  </div>



<div class="row mb-2">
  
  {% for post in post_list %}
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    
    <div class="col-md-10">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">{{ post.category }} | {{ post.created_on }} 
          {% if user == post.author %}

          <small><a href="{% url 'edit_post' post.slug %}">Edit</a></small> | <small><a href="{% url 'delete_post' post.slug %}">Delete</a></small>
          {% endif %}

        </strong>
          <h3 class="mb-0">{{ post.title }}</h3>
          <div class="mb-1 text-muted">
            <p>
              {{ post.excerpt | safe }}
            </p>
            <a href="{% url 'post_detail' post.slug  %}" class="stretched-link">Continue reading</a>
          </div>

        <div class="row-1">

          <strong class="text-secondary"><i class="far fa-heart"></i> {{ post.number_of_likes }} </strong>
          {% with comments.count as total_comments %}
          <strong class="text-secondary"><i class="far fa-comments"></i>
              
              {{ total_comments }}</strong>
          {% endwith %}
        </div>
        
      </div>


    </div>
    <div class="col-md-2">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        {% if "placeholder" in post.featured_image.url %}
        <img class="img-fluid" src="https://res.cloudinary.com/bobdean/image/upload/v1649273070/hwglqcxsx3j3v3qn6ovx.jpg" alt="caffeine free placeholder">
        {% else %}

        <img class="img-fluid" src="{{ post.featured_image.url }}" alt="{{ post.featured_image.url.name }}">
        {% endif %}
      </div>
    </div>

  </div>

  
  {%endfor%}
</div>


</main>

{%endblock%}