{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<main class="container">
  <div class=" row p-4 p-md-5 mb-4 text-white rounded backround-color  bg-dark">

    <div class="col-md-8 px-0">
      <h1 class="display-4 fst-italic">Submit a Post.</h1>
      <p class="lead my-3"><strong>Join the Disccusion. We'd love to hear from you!</strong></p>
    </div>
    
  </div>

{% if user.is_authenticated %}

<div class="form-group">

    <form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}

        <p><strong>Please note, your post will appear on the site as soon as it has been approved by the Admin.</strong></p>
        <button type="submit" class="btn btn-success">Submit Post</button>
        <!-- Button trigger modal -->
    </form>


<!--JS assigns our Username to the hidden author form field-->
      <script>

        var name = "{{ user.id}}";
        document.getElementById("owner").value = name;

      </script>

</div>

{% else %}

<h3>Please <a class="link-secondary" href="{% url 'account_login' %}">Log In</output></a> to edit your post. </h3> 

{% endif %}






{% endblock %}
