{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<main class="container">
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Join our community and quit Caffeine today.</h1>
      <p class="lead my-3">Multiplee lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
</div>

{% if user.is_authenticated %}

<div>

    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Submit Post</button>
      </form>

</div>

{% else %}

<h3>Please <a class="link-secondary" href="{% url 'account_login' %}">Log In</output></a> to edit your post. </h3> 

{% endif %}






{% endblock %}
